<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="vue.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- <one v-if="flag=='one'"></one>
            <two v-if="flag=='two'"></two> -->
            <!-- 使用 component 来提到 单个元素 达到组件切换的目的 -->
            <component :is="flag"></component>

            <button @click="change">点击切换</button>
            
        </div>
        <script>
            Vue.component("one" ,{
                template:'<div>我是组件 one</div>'
            })
            Vue.component("two" , {
                template:'<div>我是组件 two</div>'
            })
           
            
            var vm = new Vue({
                el: '#app',
                data: {
                    flag:'one'
                },
                methods: {
                 change(){
                     this.flag = this.flag === "one" ? 'two' :'one'
                 }   
                }
            })
        </script>
    </body>
</html>